<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>CNN</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'cnn/css/style.css' %}"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <a href="{% url 'home:index' %}">
          <img src="{% static 'cnn/css/logo cnn.png' %}" alt="Logo du site" />
        </a>
      </div>

      <div class="nav-links">
        <a href="{% url 'cnn:page_cnn' %}">CNN</a>
        <a href="{% url 'home:index' %}">Projet 2</a>
        <a href="{% url 'home:index' %}">Projet 3</a>
        <a href="{% url 'home:index' %}">Projet 4</a>
      </div>
    </nav>
    <div class="bg-gradient">
      <div class="box_home_title_cnn">
        <h1 class="home_title_cnn">PROJET CNN</h1>
        <a>
          <button
            class="button-28"
            onClick="document.getElementById('middle').scrollIntoView();"
            role="button"
          >
            Read More
          </button>
        </a>
      </div>
    </div>

    <div class="container" id="middle">
      <div class="box_main_text_cnn">test</div>
    </div>

    <script>
      window.onscroll = function () {
        document.body.classList.add("scrolled");
      };

      function scrollToContent() {
        // Récupérer l'élément que vous voulez faire défiler vers
        var contentElement = document.getElementById("content");

        // Faire défiler la page jusqu'à la position de l'élément
        contentElement.scrollIntoView({ behavior: "smooth" });
      }
    </script>
  </body>
</html>
