<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>CNN</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'cnn/css/style.css' %}"
    />
  </head>
  <body>
    <div class="navbar_cnn">
        <div>
            test
        </div>
        <div>
            test
        </div>
    </div>
    <div class="bg-gradient">
      <div class="box_home_title_cnn">
        <h1 class="home_title_cnn">PROJET CNN</h1>
        <a href="{% url 'home:index' %}">
          <button class="button-28" role="button">Back to Home</button>
        </a>
      </div>
    </div>

    <div class="container">
        <div class="box_main_text_cnn">

        </div>
    </div>

    <script>
      window.onscroll = function () {
        document.body.classList.add("scrolled");
      };
    </script>
  </body>
</html>
